################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Shopping/.vs/Shopping/config
/Shopping/.vs/Shopping/DesignTimeBuild
/Shopping/.vs/Shopping/FileContentIndex
/Shopping/.vs/Shopping/v17/.suo
/Shopping/.vs/Shopping/v17/.suo
/Shopping/Shopping.Client/bin/
/Shopping/Shopping.Client/bin/Debug/
/Shopping/Shopping.Client/obj/
/Shopping/Shopping.Client/obj/Debug/
